.acc-inquiry {
    button {
        min-width: 300px;
    }
    .amount {
        text-align: right;
        min-width: 80px;
    }
    thead {
        text-align: center;
        font-weight: bold;
    }
}